@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-space-grotesk);
  --font-mono: var(--font-space-mono);
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #1e293b;
}
